.icons-display {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
}

.icon-holder {
	text-align: center;
}

.icon {
	font-size: 48px;
}

.icon-code {
	font-family: monospace;
}
